---
layout: default
---

<article class="post-content">
    <h1>{{ page.title }}</h1>
    <div class="blog-post-date">{{ page.date | date: "%B %d, %Y" }}</div>

    {{ content }}

    <footer class="post-footer">
        <nav class="post-nav">
            {% if page.previous %}
                <a href="{{ page.previous.url | relative_url }}">← {{ page.previous.title }}</a>
            {% endif %}
            {% if page.next %}
                <a href="{{ page.next.url | relative_url }}">{{ page.next.title }} →</a>
            {% endif %}
        </nav>
    </footer>
</article>
